.container {
  background-color: white;
  width: calc(100% - 160px);
  padding-bottom: 60px;
}

.main {
  display: flex;
  padding: 0 60px;
}

.thumbnail {
  height: 56px;
  margin-right: 12px;
}

.wistia_embed {
  margin-right: 48px;
}

.media {
  margin-bottom: 12px;
}

.media-content {
  display: flex;
  align-items: center;
}

/* New CSS */
.overlay {
  display: block;
  height: -webkit-fill-available;
  border-width: 75px 150px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.overlay-text {
  position: absolute;
  text-align: center;
  left: 0;
  line-height: 75px;
  width: 100%;
  font-size: 30px;
  margin: 0;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}

.countdown {
  font-size: 70px;
  text-align: center;
  line-height: 100%;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-overlay {
  background: rgba(0,0,0,0.3);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  display: none;
}